@page
@model FitnessProgramManager.Pages.FitnessProgram.CreateModel

<h1>Create New Fitness Program</h1>

<form method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FitnessProgram.Name" class="control-label"></label>
                <input asp-for="FitnessProgram.Name" class="form-control form-control-sm" />
                <span asp-validation-for="FitnessProgram.Name" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FitnessProgram.Type" class="control-label"></label>
                <select asp-for="FitnessProgram.Type" class="form-control form-control-sm">
                    <option value="">-- Select Type --</option>
                    <option value="Strength">Strength</option>
                    <option value="Cardio">Cardio</option>
                    <option value="Yoga">Yoga</option>
                    <option value="HIIT">HIIT</option>
                    <option value="Flexibility">Flexibility</option>
                </select>
                <span asp-validation-for="FitnessProgram.Type" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FitnessProgram.DurationInWeeks" class="control-label"></label>
                <input asp-for="FitnessProgram.DurationInWeeks" class="form-control form-control-sm" />
                <span asp-validation-for="FitnessProgram.DurationInWeeks" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FitnessProgram.DifficultyLevel" class="control-label"></label>
                <select asp-for="FitnessProgram.DifficultyLevel" class="form-control form-control-sm">
                    <option value="">-- Select Difficulty Level --</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Expert">Expert</option>
                    <option value="All Levels">All Levels</option>
                </select>
                <span asp-validation-for="FitnessProgram.DifficultyLevel" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
